{% if user %}
  {% extends "secure_base.html" %}
  {% block photo %}
    {{ user['picture'] }}
  {% endblock %}
  {% block user %}
    <h5 id="username">{{ user['username'] }}</h5>
  {% endblock %}
{% else %}
  {% extends "base.html" %}
{% endif %}
{% block map %}
  <a href="{{ url_for('catalog') }}">Catalog</a>&nbsp;|&nbsp;
  <a href="{{ url_for('deleteCategory', category = category) }}">Delete Category</a>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li><strong>{{ message }}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="wrapper width50">
  <h1> Are you sure you want to delete {{category}}? </h1>
  <h6>* All items contained in this category will be deleted as well *</h6>
  <form action='{{ url_for('deleteCategory', category = category) }}' method = 'POST'>
    <input class="button" type='submit', value = 'Delete'>
  </form>
  <a class="button" href = "{{ url_for('catalog') }}">Cancel</a>
</div>
{% endblock %}
