<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <div class="title_bar">
      <span id="title"><h1><a href="{{ url_for('catalog') }}">Catalog App</a></h1></span>
      <span id="user">
        <span id="span_image">
          <img src="{% block photo %}{% endblock %}" id="user_photo" />
        </span>
        <span id="span_logout">
          <span>{% block user %}{% endblock %}</span>
          <span class="button logout"><a href="{{ url_for('gdisconnect') }}">Logout</a></span>
        </span>
      </span>
    </div>
    <div class="header_bar">
      <span id="add_data_bar">
        <h6 class="add_links"><a href="{{ url_for('newCategory') }}">Add New Category</a></h6>
        <h6 class="add_links"><a href="{{ url_for('newItem') }}">Add New Item</a></h6>
      </span>
      <span class="right map">{% block map %}{% endblock %}</span>
    </div>
  </header>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li><strong>{{ message }}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}

</body>
</html>
